.entry-tpl-gridxs {
    max-width: 100%;

    .entry-featured-media {
        margin-bottom: 0.5rem;
    }

    .entry-header {
        margin-top: 0.5rem;
        padding: 0 10px;
    }

    .entry-title {
        margin-bottom: 15px;
    }
}
