.g1-secondary-nav {
    margin-bottom: 1.5rem;
    z-index: 0;
}

.g1-secondary-nav-menu {
    margin: 0;
    list-style: none;

    > .menu-item {
        display: block;
        font-size: 1rem;
        text-align: $left;

        > a {
            display: block;
            padding: 6px 0;

            font-size: 13px;
            line-height: 14px;
            font-family: "Poppins", "Roboto", sans-serif;
            font-weight: 400;
        }
    }
}
