.mashsb-compact {
    .mashsb-buttons {
        a {
            min-width: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .onoffswitch {
        display: none;
    }
}
